# Complex Data Types - Dictionaries and Sets
> Example Implementations using <a href="https://jupyter.org/">Jupyter Notebooks</a>.

- toc: true
- badges: true
- comments: true
- sticky_rank: 1
- author: Felix
- categories: [datatypes, jupyter, percipio]

In [3]:
# Introducing Dictionaries
empty_dict = {}
empty_dict

{}

In [4]:
bike_owners = {"James":"Ducati Monster 1200",
               "Jacob":"Ducati Scrambler 1100"}
bike_owners

{'James': 'Ducati Monster 1200', 'Jacob': 'Ducati Scrambler 1100'}

In [5]:
bike_owners["Jacob"]

'Ducati Scrambler 1100'

In [6]:
int_dict = {1:45, 2:55, 3:65}
int_dict[1]

45

In [7]:
int_dict.keys()

dict_keys([1, 2, 3])

In [8]:
1 in int_dict.keys()

True

In [9]:
mixed_dict = {False: "Daniel",
              "Aria":[1,2,3],
              "Jacob":True}
mixed_dict

{False: 'Daniel', 'Aria': [1, 2, 3], 'Jacob': True}

In [10]:
mixed_dict[False]

'Daniel'

In [12]:
int_dict[1] = 78
int_dict

{1: 78, 2: 55, 3: 65}

In [13]:
del int_dict[3]
int_dict

{1: 78, 2: 55}

In [16]:
# Complex data types in python
fruits = {
    "Banana":[50,60,75,99],
    "Apple":[48,86,47,25],
    "Strawberries":[70,80,60,65]
}
print(fruits["Banana"])
print(fruits["Banana"][3])
fruits["Banana"][3]=50
print(fruits["Banana"][3])

[50, 60, 75, 99]
99
50

In [17]:
fruit_qtc_consumed = {
    "Banana": {"Fri":90, "Mo":80, "Di":90},
    "Apple":{"Fri":10, "Mo":12, "Di":13},
    "Strawberry":{"Fri":47, "Mo":48, "Di":20},
}
print(fruit_qtc_consumed["Strawberry"])
print(fruit_qtc_consumed["Strawberry"]["Fri"])

{'Fri': 47, 'Mo': 48, 'Di': 20}
47

In [18]:
len(fruit_qtc_consumed)

3

In [19]:
len(fruit_qtc_consumed.keys())

3

In [20]:
sorted(fruit_qtc_consumed)

['Apple', 'Banana', 'Strawberry']

In [21]:
sorted(fruit_qtc_consumed, reverse=True)

['Strawberry', 'Banana', 'Apple']

In [22]:
# return key value pairs
fruit_qtc_consumed.items()

dict_items([('Banana', {'Fri': 90, 'Mo': 80, 'Di': 90}), ('Apple', {'Fri': 10, 'Mo': 12, 'Di': 13}), ('Strawberry', {'Fri': 47, 'Mo': 48, 'Di': 20})])

In [24]:
copy = fruit_qtc_consumed.copy()
copy

{'Banana': {'Fri': 90, 'Mo': 80, 'Di': 90},
 'Apple': {'Fri': 10, 'Mo': 12, 'Di': 13},
 'Strawberry': {'Fri': 47, 'Mo': 48, 'Di': 20}}

In [25]:
copy.pop("Banana")

{'Fri': 90, 'Mo': 80, 'Di': 90}

In [26]:
persons1 = {"Ethan":45,"Monica":88,"Max":10}
persons2 = {"Ethan":46,"Claus":47,"Rainer":44}
print(persons1)
persons1.update(persons2)
print(persons1)

{'Ethan': 45, 'Monica': 88, 'Max': 10}
{'Ethan': 46, 'Monica': 88, 'Max': 10, 'Claus': 47, 'Rainer': 44}

In [27]:
persons2.clear()
persons2

{}

In [28]:
del persons2

In [29]:
# Sets
set_string = {"Emma", "Olivia", "Ava", "Mia"}
set_string

{'Ava', 'Emma', 'Mia', 'Olivia'}

In [30]:
print(set_string)
# no intrinsic ordering

{'Ava', 'Mia', 'Emma', 'Olivia'}

In [31]:
empty_set = set()

In [33]:
mixed_set = {"Emmma", 5, 1.5, True,(1,2,3,4)}
#Lists are not allowed

In [34]:
student_set = {"Emma", "Marc", "Janine", "Emma"}
student_set
# duplicates are eliminated

{'Emma', 'Janine', 'Marc'}

In [35]:
student_set[1]

TypeError: 'set' object is not subscriptable

In [36]:
student_set.add("Felix")

In [37]:
len(student_set)

4

In [38]:
max(student_set)

'Marc'

In [39]:
student_set.remove("Felix")
student_set.discard("Felix")

In [41]:
number1={1,2,3,4,5}
number2={4,5,6,7,8}
number3={7,8,9,10,11}

In [42]:
number1.union(number2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [44]:
number1.difference(number2)

{1, 2, 3}

In [45]:
number1.isdisjoint(number2)

False

In [46]:
number1.isdisjoint(number3)

True

In [47]:
# Nested Lists
car_matrix = [["Hennessey Venom GT", 1244],
              ["SSC Ultimate Aero", 1287],
              ["Zenvo ST1", 1100]]
car_matrix

[['Hennessey Venom GT', 1244],
 ['SSC Ultimate Aero', 1287],
 ['Zenvo ST1', 1100]]

In [48]:
len(car_matrix)

3

In [49]:
len(car_matrix[1])

2

In [51]:
car_matrix[1][0]

'SSC Ultimate Aero'

In [52]:
car_matrix[1]

['SSC Ultimate Aero', 1287]

In [54]:
car_matrix[1][0:2]

['SSC Ultimate Aero', 1287]

In [55]:
# Conversion of Lists
my_list = ["Leo",18,"Aaron",15,"Max",25,"Sofi",22,"Marques",2,"Julia",91,]
print(my_list)
print(tuple(my_list))
# tuple is immutable

['Leo', 18, 'Aaron', 15, 'Max', 25, 'Sofi', 22, 'Marques', 2, 'Julia', 91]
('Leo', 18, 'Aaron', 15, 'Max', 25, 'Sofi', 22, 'Marques', 2, 'Julia', 91)

In [56]:
my_list1 = [["Leo",18],["Aaron",48],["Max",25],["Sofi",22],["Marques",2],["Julia",91]]
tuple(my_list1)

(['Leo', 18],
 ['Aaron', 48],
 ['Max', 25],
 ['Sofi', 22],
 ['Marques', 2],
 ['Julia', 91])

In [60]:
d_list = dict(my_list1)
names = list(d_list)
names

['Leo', 18, 'Aaron', 15, 'Max', 25, 'Sofi', 22, 'Marques', 2, 'Julia', 91]

In [63]:
d_list2 = dict(my_list1)
names2 = list(d_list2.values())
names2

[18, 48, 25, 22, 2, 91]